@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');
/* font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;

}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    min-height: 10vh;
    background-color: #509e0bb1;
    padding: 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a:hover {
    background-color: #000000; 
    color: #ffffff;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #000000;
    display: block;
}

#menu{
    display: none; 
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.content {
padding: 50px 30px;
display: flex;
justify-content: center;
align-items: center;
min-height: calc(100vh - 10vh); 
background-color: #f0f0f0;
}
        
form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: #000000;
    font-size: 35px;
}

label{
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #f0faf1;
    color: #000000;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt{
    color: #76b28e ;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4 );
    
}

.btn:hover{
    cursor: pointer;
    background-color: #50e04b;
}

.footer{
    padding:  50px 0;
    background-color: #111111;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a{
     font-size: 16px;
     color: #DCDCDC;
     display: block;
     margin-bottom: 10px;
}

@media (max-width: 767px) {
    body{
        padding: 20px;
    }

    form{
        padding: 30px 20px;
        width: 100%;
    }

    input{
        padding: 15px;
    }

    input , textarea{
        padding: 12px;
    }
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }
    
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo{
        display: none;
    }

    .submenu:hover #carrito{
        min-width: 100%;
    }

    .header{
        min-width: 0vh;
    }

    .header-content{
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img{
        display: none;
    }

    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1{
        font-size: 70px;
    }
  
    .footer{
        padding: 30px 20px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}
